@import "tailwindcss";

@theme {
  --color-backtground: #211c32;
  --color-text: #cdcad6;
  --color-primary: #9e85fb;
  --color-secondary: #4a3c80;
  --color-accent: #5c34d1;
}

body {
  background-color: var(--color-backtground);
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
}
