@import "tailwindcss";

@theme {
  --color-background: #211c32;
  --color-text: #cdcad6;
  --color-text-secondary: #cdcad699;
  --color-primary: #9e85fb;
  --color-secondary: #4a3c80;
  --color-accent: #5c34d1;
  --font-nunito: "Nunito", sans-serif;
}

@utility wtf {
  outline: 1px solid red;
}
